
$color-white: #fff;
$color-grey: #777;

$color-primary-black: #212529;



//default font size
$default-font-size: 1.6rem;
$vertical-gutter-row: 6rem;
$vertical-gutter-row-small: 3rem;
$horizontal-gutter-col: 3rem;