@keyframes moveInLeft
{
    0%{
        opacity: 10;
        transform: translateX(-5rem);
    }
    50%{
        opacity: 50;
        transform: translateX(5rem);
    }

    100%{
        
        opacity: 100;
        transform: translateX(0rem);
    }
}

@keyframes moveInRight
{
    0%{
        opacity: 10;
        transform: translateX(5rem);
    }
    50%{
        opacity: 50;
        transform: translateX(-5rem);
    }

    100%{
        
        opacity: 100;
        transform: translateX(0rem);
    }
}