.addTeacherButton {
    position: absolute;
    right: 1rem;
    margin-top: 1rem;
    font-size: $default-font-size;
}

.addTeacherCard {
    .row {
        margin-top: 2rem;
        padding: 1rem;
    }
}

.coursesRow {
    margin-left: 4.5rem;
}