.adminlogin {
    &-wrapper {
        border: 1px solid black;
        border: dotted;
        padding: 5rem;
        z-index: -9000;
        background-position: right;
    }
    &-col {
        border: 2px solid black;
        border-radius: 1rem;
        padding-top: 2rem;
        height: 25rem;
        box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
    }
}

.studentlogin {
    &-wrapper {
        border: 1px solid black;
        border: dotted;
        padding: 5rem;
        z-index: -9000;
        background-position: right;
    }
    &-col {
        border: 2px solid black;
        border-radius: 1rem;
        padding-top: 2rem;
        height: 25rem;
        box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
    }
}

.teacherlogin {
    &-wrapper {
        border: 1px solid black;
        border: dotted;
        padding: 5rem;
        z-index: -9000;
        background-position: right;
    }
    &-col {
        border: 2px solid black;
        border-radius: 1rem;
        padding-top: 2rem;
        height: 25rem;
        box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 18px 20px 45px -17px rgba(0, 0, 0, 0.75);
    }
}